@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Gothic A1", sans-serif;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: #e6d764;
  border-radius: 50px;
  cursor: pointer;
}
